<html>

<h1>Liste Chantiers</h1>

{% if user.is_authenticated %}

<p>{{user.username}}</p>

{% for chantier in derniers_chantiers %}


    {% if user.id == chantier.user.id %}
    <div class ="chantier">
    <h3> {{ chantier.name}} - {{ chantier.id }}</h3>
    <p><a href="{% url "chantier_detail" chantier.id %}">Voir Chantier</a></p>
    
    {% endif %}

{% endfor %}

{% endif %}

    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</html>

